body {
  background-color: white;
  background-image: url("media/grid.svg");
}

/* fiona lai */
h1 {
  margin-top: 50px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #4330b4;
  text-align: center;
}

/* softer heading*/
h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: #4330b4;
  text-align: left;
  padding: 30px;
  letter-spacing: 2px;
  text-align: center;

}

/* section main heading */
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4330b4;
  /* text-align: left; */
  padding: 10px 0;
}

/* subheading (all caps) */
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  /* color: #c1e2f7; */
  color: #f0d0e5;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 700;

}

/* date or legal text */
h5 {
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  color: #4330b4;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 300;
}

p, ul, ol {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #141414;
  line-height: 30px;
  text-align: left;
}

figcaption {
  font-family: 'Poppins', sans-serif;
  font-size: .5rem;
  color: #4330b4;
  padding: 10px;
  text-align: center;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #4330b4;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
  color: #f0d0e5;
}

#copyright {
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  color: #777B7C;
  font-weight: 300;
  padding: 20px 0;
}

footer {
  padding-top: 50px;
}

.current {
  font-family: 'Poppins', sans-serif;
  color: #5E3250;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  background-color: #f0d0e5;
  color: #4330b4;
  border: 1px solid #4330b4;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: 300;
  box-shadow: 2px 2px 0 0 #4330b4;

}

button:hover {
  background-color: #4330b4;
  color: white;
}

.works {
  padding-top: 50px;
}

.about-col {
  padding: 20px;
}

/* motion for index */
.motion {
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  /* box-shadow: 7px 7px 2px #E0E0E0; */
  padding: 0px; !important;
  border: 1px solid #4330b4;
  box-shadow: 2px 2px 0 0 #4330b4;

}
.motion:hover {
 transform: translateX(10px);
}

.indent {
  margin-left: 20px;
}

img {
  margin-top: 10px;
}
mark {
  background-color: #fee0df;
}

/* tablet and smaller screens */
@media (max-width: 768px) {
  .about-img {
    width: 50%;
  }
}

.nav-link {
  text-align: right;
  margin: 20px;
  justify-content: flex-end;
}

#logo {
  width: 10vh;
  margin: 20px;
}

#logo:hover {
  content: url("media/fl-logo-hover.png");
  width: 10vh;

}

/* nav responsive */
@media (max-width: 1000px) {
  .navbar-nav {
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .herocontainer img {
    width: 100vw!important;
  }
   .textcontainer {
    top: 25%!important;
  }
}

.experience-item {
  padding: 10px 0;
}

#index {
 height: 100vh;
 background-color: #c1e2f7;
 /* flex-box thing */
 background-size: cover;
}

.herocontainer{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.herocontainer .textcontainer{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: left;
    top: 35%; /* Adjust this value to move the positioned div up and down */
    width: 55%; /* Set the width of the positioned div */
}


.rogers-hero {
	background: url("media/rogers-hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 100vh;
  margin-bottom: 50px;
}

.furnishr-hero {
	background: url("media/furnishr-hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 100vh;
  margin-bottom: 50px;
}

.sc-hero {
	background: url("media/sc-hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 100vh;
  margin-bottom: 50px;
}
