html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  /* background-image: url("media/grid.svg"); */
  /* padding-bottom: 50px; */
}

@font-face {
  font-family: arsenica;
  src: url(media/arsenica/Arsenica-Medium.ttf);
}

@font-face {
  font-family: Shocka;
  src: url(media/shocka_serif/ShockaSerif-Bold.otf);
}

/* fiona lai */
h1 {
  /* margin-top: 50px; */
  font-family: 'arsenica', serif;
  font-size: 4rem;
  color: #202020;
  text-align: center;
}

/* softer heading*/
h2 {
  font-family: 'Shocka', serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: #202020;
  text-align: left;
  padding: 30px;
  text-align: center;

}

/* section main heading */
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #202020;
  /* text-align: left; */
  padding: 10px 0;
}

/* subheading (all caps) */
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  /* color: #c1e2f7; */
  color: #255A5C;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 700;

}

/* date or legal text */
h5 {
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  color: #255A5C;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 300;
}

p, ul, ol {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #202020;
  line-height: 30px;
  text-align: left;
}

figcaption {
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  color: #255A5C;
  padding: 10px;
  text-align: center;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #255A5C;
  font-weight: 300;
  transition: 0.5s ease-in-out;
}

a:hover {
  text-decoration: none;
  opacity: .5;
  /* color: #f0d0e5; */
}

#copyright {
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  color: white;
  font-weight: 300;
  /* padding: 20px 0; */
  margin: 0 auto;
}

footer {
  padding-top: 64px;
  padding-bottom: 24px;
  /* background: url(media/background.jpeg);
  background-size: cover; */
  background-color: #255A5C;
}

.footerButton {
  margin: 8px;
  background-color: white;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  /* background-color: #f0d0e5; */
  background-color: transparent;
  color: #202020;
  border: 1px solid #202020;
  border-radius: 12px;
  padding: 10px 20px !important;
  font-weight: 300;
  box-shadow: 2px 2px 0 0 #202020;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #202020;
  color: white;
}

.content {
  padding: 80px;
}

.works {
  padding-top: 50px;
}

.about-col {
  padding: 20px;
}

/* motion for index */
.motion {
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  /* box-shadow: 7px 7px 2px #E0E0E0; */
  padding: 0px; !important;
  border: 1px solid #202020;
  box-shadow: 3px 3px 0 0 #202020;

}
.motion:hover {
 transform: translateX(10px);
}

.indent {
  margin-left: 20px;
}

img {
  margin-top: 10px;
}
mark {
  background-color: #fee0df;
}

/* tablet and smaller screens */
@media (max-width: 768px) {
  .about-img {
    width: 50%;
  }
}

.nav-link {
  text-align: right;
  margin: 20px;
  justify-content: flex-end;

}

#logo {
  width: 10vh;
  margin: 20px;
}

/* nav responsive */
@media (max-width: 1000px) {
  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .herocontainer img {
    width: 100vw!important;
  }
   .textcontainer h1{
    /* top: 25%!important; */
    font-size: 2.5rem;
  }
  .textcontainer h4{
   /* top: 25%!important; */
   font-size: .7rem;
 }
 #details {
   font-size: .7rem;
 }
}

.experience-item {
  padding: 10px 0;
}

#index {
 height: 100vh;
 background-image: url("media/background.jpeg");
 /* flex-box thing */
 background-size: cover;
}

.herocontainer{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.herocontainer .textcontainer{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: left;
    top: 35%; /* Adjust this value to move the positioned div up and down */
    width: 55%; /* Set the width of the positioned div */
}
#details {
  text-align: center;
  font-weight: 300;
  /* font-size: 1rem; */
  border: 1px solid #202020;
  border-radius: 10px;
  color: #202020;
  padding: 3px;
  width: 70%;
  margin: 0 auto;
}
.down-arrow {
  /* scroll-behavior: smooth; */
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 3px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}


.rogers-hero {
	background: url("media/rogers-hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 80vh;
  margin-bottom: 50px;
}

.furnishr-hero {
	background: url("media/furnishr-hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 80vh;
  margin-bottom: 50px;
}

.sc-hero {
	background: url("media/sc-hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	height: 80vh;
  margin-bottom: 50px;
}
