body {
  background-color: #231f20;
}

h1 {
  margin-top: 50px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
  text-align: left;
  padding: 20px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7em;
  color: white;
  /* text-align: left; */
  padding: 10px 0;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 700;

}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: .8em;
  color: white;
  text-align: left;

}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
}

#copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  color: #C2C2C2;
  /* color: #fed7ce; */

}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
}

.current {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: #fed7ce;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  background-color: #fed7ce;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 20px;

}
.navbar a {
  padding: 20px;
}

.works {
  padding-top: 50px;
}

.about-col {
  padding: 20px;
}

/* tablet and smaller screens */
@media (max-width: 768px) {
  .about-img {
    width: 50%;
  }
}

.experience-item {
  padding: 10px 0;
}

footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.rogers-hero {
	background: url("media/furnishr-hero.png");
	background-position: center;
	background-repeat: no-repeat;
	/* background-size: cover; */
	position: relative;
	background-attachment: fixed;
	height: 450px;
  margin-bottom: 50px;
}
